* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#particles-js {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: #0b0b0b; /* or your preferred color */
}


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: rgb(255, 255, 255);
  line-height: 1.6;
}

li{
  color: white;
}

li a.active{
  color: #0f0;
}

span{
  color: white;
}

h3{
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #111;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar .logo {
  font-weight: 700;
  font-size: 1.2rem;
}

.navbar .nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.navbar .nav-links a:hover {
  color: rgb(10, 187, 10);
}

.hero {
  padding: 3rem 2rem;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #00ff00;
}

.hero p {
  max-width: 600px;
  margin: 0 auto 1.5rem;
  font-size: 1rem;
  color: #ccc;
}

.hero .socials img {
  width: 30px;
  margin: 0 0.5rem;
}

.projects {
  padding: 2rem;
  text-align: center;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #00ff00;
}

.project-cards {
  display: grid;
 gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 1000px;
  margin: auto;
}

.project-card {
  background: #111;
  /* padding: 0.5rem; */
  border: 1px solid #0f0;
  border-radius: 10px;
  cursor: pointer;
}

.project-card img {
  width: 100%;
  border-radius: 8px;
}

.project-card h3 {
  margin-top: 1rem;
  font-size: 1rem;
}

.see-more {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid #0f0;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
}

.see-more:hover {
  background-color: #0f0;
  color: #000;

}

.skills {
  padding: 2rem;
  text-align: center;
}

.skills h2 {
  color: #00ff00;
  margin-bottom: 1.5rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.skills-list span {
  background-color: #111;
  padding: 0.5rem 1rem;
  border: 1px solid #0f0;
  border-radius: 20px;
  font-size: 0.9rem;
}

.contact {
  padding: 2rem;
  text-align: center;
  background-color: #111;
}

.contact h2 {
  color: #00ff00;
  margin-bottom: 1rem;
}

.contact-icons img {
  height: 30px;
  margin: 0 0.5rem;
}

.contact p {
  margin-top: 1rem;
  color: #ccc;
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 2rem;
  }
  .project-card h3 {
    font-size: 0.9rem;
  }
}
